<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh justify-space-between-md">
  <nav class="navbar">
    <ul>
       <li class="btn2 li-inline nav-item title"><a href="/"><b>Bloggy</b></a></li>
      <li class="btn2 li-inline nav-item"><a href="/"><b>Home</b></a></li>
      <li class="btn2 li-inline nav-item"><a href="/dashboard"><b>Blogger</b></a></li>
      <li class="btn2 li-inline nav-item"><a href="/login"><b>Login</b></a></li>
      <li class="btn2 li-inline nav-item"><a href="#" id=".logout"><b>.logout</b></a></li>
    </ul>
  </nav>


  <main class="col-auto">
    {{{body}}}
  </main>

</body>

</html>
<script src="/js/.logout.js"></script>
